body {
	background-image: url('../images/matrix.bmp');
}

div#wrapper p {
	font-size:15px;
	font-family:Helvetica, sans-serif;
	margin-bottom:20px;
}

div#wrapper input
{
	width:50px;
	height:50px;
	border:1px solid #dedede;
	background:#fff;
	margin:1px;
	color:#666;
}

div#wrapper input:hover
{
	cursor:pointer;
}

div#wrapper
{
	width: 480px;
	padding: 15px;
	border: 1px solid;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	box-shadow: 5px 5px 5px #888;
	background-color: rgba(255, 255, 255, 0.9);
	color:#666;
	margin: 0 auto; 
	top: 200px; 
	left: 45%;
}

div#wrapper a
{
	text-decoration:none;
	font-family: Helvetica, Arial, Sans-Serif;
	color:#666;
	text-indent:57px;
	float:left;
	margin-top:10px;
	font-size:14px;
}



#main-message {
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
	color: white;
}

#answer-button {
	margin-top: 2px;
	margin-bottom: 2px;
	width: 100%;
	padding: 10px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

div#wrapper a:hover
{
	text-decoration:underline;
}
